<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div style="font-family:arial; font-size: 13px;">
	<h1 style="font-size: 14px; font-weight: bold; ">Hello <%= @name %>!</h1>
	<p>Thanks for enquiring with Yantra24x7.Our team will get back to you as soon as possible.For further quiries please contact 9843993769.</p>
</div>
</body>
</html>