<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table style="font-family:arial; font-size: 13px;">
	<tr>
		<td style="font-weight:bold">Name</td>
		<td style="font-weight:bold">:</td>
		<td><%= @name%></td>
	</tr>
	<tr>
		<td style="font-weight:bold">Subject</td>
		<td style="font-weight:bold">:</td>
		<td>Tools</td>
	</tr>
	<tr>
		<td style="font-weight:bold">Comments</td>
		<td style="font-weight:bold">:</td>
		<td><%= @query %></td>
	</tr>
</table>
</body>
</html>