
<h3> Congratulations! Below are the link and login credentials for access
to the Yantra24x7 </h3><br>
Link: <h3>'http://192.168.0.209:3000/</h3><br>
User Name :<%=@user.email_id %><br>

<h3>Thank You !!</h3>
