<style type="text/css">
a{
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 6px;

    font: 13.3333px Arial;
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    color: buttontext;

    border: 2px outset buttonface;
    border-image: initial;

    background-color: buttonface;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    cursor: default;
}

a:active {border-style: inset;}
</style>
<h3> Congratulations! Below are the link and Reset You Passoword  </h3><br>
<!-- Link: Click Here  !! <a href="http://mms2.yantra24x7.com/#!/changepassword" class="button">Reset Password</a><br> -->
Link: Click Here  !! <a href="http://182.72.104.66:4300/#!/changepassword" class="button">Reset Password</a><br>

User Name :<%=@user.email_id %><br>

<h3>Thank You !!</h3>
